.nav {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav_black {
  background: rgba(0, 0, 0, 0.5);
}

.nav_logo {
  width: 80px;
  object-fit: contain;
}

.nav_avatar {
  width: 30px;
  object-fit: contain;
}
